<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hehe.java_web.dao.ISessionDao">

    <resultMap id="BaseResultMap" type="com.hehe.java_web.pojo.Session">
        <id column="Sid" property="Sid" jdbcType="INTEGER"/>
        <result column="Sname" property="Sname" jdbcType="VARCHAR"/>
        <result column="Smasterid" property="Smasterid" jdbcType="INTEGER"/>
        <result column="Sprofile" property="Sprofile" jdbcType="VARCHAR"/>
        <result column="Sstatement" property="Sstatement" jdbcType="VARCHAR"/>
        <result column="Stopiccount" property="Stopiccount" jdbcType="INTEGER"/>
        <result column="Sclickcount" property="Sclickcount" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    Sid, Sname,Smasterid, Sprofile, Sstatement, Stopiccount, Sclickcount
  </sql>

    <!-- 查询所有版块 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM Session
        ORDER BY Sid
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 根据版块id查询版块 -->
    <select id="selectSessionBySessionid" resultMap="BaseResultMap" parameterType="int">
        SELECT <include refid="Base_Column_List"/>
        FROM Session
        WHERE Sid = #{sessionid, jdbcType=INTEGER}
    </select>

    <!-- 查询版块数量 -->
    <select id="selectCount" resultType="int" >
    SELECT COUNT(*)
    FROM Session
  </select>

    <!-- 插入版块 -->
    <insert id="insert" parameterType="com.hehe.java_web.pojo.Session">
        INSERT INTO Session (<include refid="Base_Column_List"/>)
        VALUES (#{Sid, jdbcType=INTEGER},#{Sname, jdbcType=VARCHAR}, #{Smasterid, jdbcType=INTEGER}, #{Sprofile, jdbcType=VARCHAR}, #{Sstatement, jdbcType=VARCHAR},#{Stopiccount, jdbcType=INTEGER},
       #{Sclickcount, jdbcType=INTEGER})
    </insert>

    <!-- 更新版块 -->
    <update id="update" parameterType="com.hehe.java_web.pojo.Session">
        UPDATE Session
        <set>
            <if test="Sname != null and Sname != ''">
                Sname = #{Sname, jdbcType=VARCHAR},
            </if>
            <if test="Smasterid != null and Smasterid != ''">
                Smasterid = #{Smasterid, jdbcType=INTEGER},
            </if>
            <if test="Sprofile != null and Sprofile != ''">
                Sprofile = #{Sprofile, jdbcType=VARCHAR},
            </if>
            <if test="Sstatement != null and Sstatement != ''">
                Sstatement = #{Sstatement, jdbcType=VARCHAR},
            </if>
            <if test="Stopiccount != null and Stopiccount != ''">
                Stopiccount = #{Stopiccount, jdbcType=INTEGER},
            </if>
            <if test="Sclickcount != null and Sclickcount != ''">
                Sclickcount = #{Sclickcount, jdbcType=INTEGER},
            </if>
        </set>
        WHERE Sid = #{Sid, jdbcType=INTEGER}
    </update>

    <!-- 删除版块 -->
    <delete id="delete" parameterType="int">
    DELETE FROM Session
    WHERE Sid = #{sessionid, jdbcType=INTEGER}
  </delete>

</mapper>