<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hehe.java_web.dao.ITopicDao">

    <resultMap id="BaseResultMap" type="com.hehe.java_web.pojo.Topic">
        <id column="Tid" property="Tid" jdbcType="INTEGER"/>
        <result column="Tsid" property="Tsid" jdbcType="INTEGER"/>
        <result column="Tuid" property="Tuid" jdbcType="INTEGER"/>
        <result column="Treplycount" property="Treplycount" jdbcType="INTEGER"/>
        <result column="Ttopic" property="Ttopic" jdbcType="VARCHAR"/>
        <result column="Tcontents" property="Tcontents" jdbcType="LONGVARCHAR"/>
        <result column="Ttimes" property="Ttimes" jdbcType="TIMESTAMP"/>
        <result column="Tclickcount" property="Tclickcount" jdbcType="INTEGER"/>
        <result column="Tflag" property="Tflag" jdbcType="INTEGER"/>
        <result column="Tlastreplyuserid" property="Tlastreplyuserid" jdbcType="INTEGER"/>
        <result column="Tlastreplytime" property="Tlastreplytime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
    Tid, Tsid, Tuid, Treplycount, Ttopic, Tcontents, Ttimes, Tclickcount, Tflag, Tlastreplyuseid, Tlastreplytime
  </sql>

    <!-- 查询所有帖子 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM Topic
        ORDER BY Tid
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 根据帖子id查询帖子 -->
    <select id="selectTopicByTopicid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT <include refid="Base_Column_List"/>
        FROM Topic
        WHERE Tid = #{topicid, jdbcType=INTEGER}
    </select>

    <!-- 查询帖子数量 -->
    <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(*)
    FROM Topic
  </select>

    <!-- 插入帖子 -->
    <insert id="insert" parameterType="com.hehe.java_web.pojo.Topic">
        INSERT INTO Topic (<include refid="Base_Column_List"/>)
        VALUES (#{Tid, jdbcType=INTEGER},#{Tsid, jdbcType=INTEGER}, #{Tuid, jdbcType=INTEGER},#{Treplycount, jdbcType=INTEGER},
        #{Ttopic, jdbcType=VARCHAR}, #{Tcontents, jdbcType=LONGVARCHAR}, #{Ttimes, jdbcType=TIMESTAMP},
        #{Tclickcount, jdbcType=INTEGER}, #{Tflag, jdbcType=INTEGER},#{Tlastreplyuseid, jdbcType=INTEGER},#{Tlastreplytime, jdbcType=VARCHAR})
    </insert>

    <!-- 更新帖子 -->
    <update id="update" parameterType="com.hehe.java_web.pojo.Topic">
        UPDATE Topic
        <set>
            <if test="Tsid != null and Tsid != ''">
                Tsid = #{Tsid, jdbcType=INTEGER},
            </if>
            <if test="Tuid != null and Tuid != ''">
                Tuid = #{Tuid, jdbcType=INTEGER},
            </if>
            <if test="Treplycount != null and Treplycount != ''">
                Treplycount = #{Treplycount, jdbcType=INTEGER},
            </if>
            <if test="Ttopic != null and Ttopic != ''">
                Ttopic = #{Ttopic, jdbcType=VARCHAR},
            </if>
            <if test="Tcontents != null and Tcontents != ''">
                Tcontents = #{Tcontents, jdbcType=LONGVARCHAR},
            </if>
            <if test="Ttimes != null and Ttimes != ''">
                Ttimes = #{Ttimes, jdbcType=TIMESTAMP},
            </if>
            <if test="Tclickcount != null and Tclickcount != ''">
                Tclickcount = #{Tclickcount, jdbcType=INTEGER},
            </if>
            <if test="Tflag != null and Tflag != ''">
                Tflag = #{Tflag, jdbcType=INTEGER},
            </if>
            <if test="Tlastreplyuseid != null and Tlastreplyuseid != ''">
                Tlastreplyuseid = #{Tlastreplyuseid, jdbcType=INTEGER},
            </if>
            <if test="Tlastreplytime != null and Tlastreplytime != ''">
                Tlastreplytime = #{Tlastreplytime, jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE Tid = #{Tid, jdbcType=INTEGER}
    </update>

    <!-- 删除帖子 -->
    <delete id="delete" parameterType="java.lang.Integer">
    DELETE FROM Topic
    WHERE Tid = #{topicid, jdbcType=INTEGER}
  </delete>

</mapper>