<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hehe.java_web.dao.IUserDao">

    <resultMap id="BaseResultMap" type="com.hehe.java_web.pojo.User">
        <id column="Uid" property="Uid" jdbcType="INTEGER"/>
        <result column="Uname" property="Uname" jdbcType="VARCHAR"/>
        <result column="Upassword" property="Upassword" jdbcType="VARCHAR"/>
        <result column="Uemail" property="Uemail" jdbcType="VARCHAR"/>
        <result column="Ubirthday" property="Ubirthday" jdbcType="VARCHAR"/>
        <result column="Usex" property="Usex" jdbcType="INTEGER"/>
        <result column="Uhead" property="Uhead" jdbcType="VARCHAR"/>
        <result column="Ustatement" property="Ustatement" jdbcType="VARCHAR"/>
        <result column="Uregdate" property="Uregdate" jdbcType="TIMESTAMP"/>
        <result column="Ustate" property="Ustate" jdbcType="INTEGER"/>
        <result column="Upoint" property="Upoint" jdbcType="INTEGER"/>
        <result column="Uissectioner" property="Uissectioner" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    Uid, Uname,Upassword, Uemail, Uemail,Usex, Uhead, Ustatement, Uregdate, Ustate, Upoint, Uissectioner
  </sql>

    <!-- 查询所有用户 -->
    <select id="selectAll" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List"/> FROM User
      ORDER BY Uid
      LIMIT #{offset}, #{limit}
  </select>

    <!-- 根据用户id查询用户 -->
    <select id="selectUserByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT <include refid="Base_Column_List"/>
        FROM User
        WHERE Uname = #{username, jdbcType=VARCHAR}
    </select>

    <!-- 根据用户名字查询用户 -->
    <select id="selectUserByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List"/>
        FROM User
        WHERE Uid = #{userid, jdbcType=INTEGER}
    </select>

    <!-- 查询是否存在这个用户  -->
    <select id="existUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(*) from User where Uname = #{username,jdbcType=VARCHAR}
  </select>

    <!-- 查询用户数量 -->
    <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(*)
    FROM User
  </select>

    <!-- 插入用户 -->
    <insert id="insert" parameterType="com.hehe.java_web.pojo.User">
    INSERT INTO User (<include refid="Base_Column_List"/>)
    VALUES (#{Uid, jdbcType=INTEGER},#{Uname, jdbcType=VARCHAR}, #{Upassword, jdbcType=VARCHAR}, #{Uemail, jdbcType=VARCHAR}, #{Ubirthday, jdbcType=VARCHAR},#{Usex, jdbcType=INTEGER},
    #{Uhead, jdbcType=VARCHAR}, #{Ustatement, jdbcType=VARCHAR}, #{Uregdate, jdbcType=TIMESTAMP},
    #{Ustate, jdbcType=INTEGER}, #{Upoint, jdbcType=INTEGER},#{Uissectioner, jdbcType=INTEGER})
  </insert>

    <!-- 更新用户 -->
    <update id="update" parameterType="com.hehe.java_web.pojo.User">
        UPDATE User
        <set>
            <if test="Uname != null and Uname != ''">
                Uname = #{Uname, jdbcType=VARCHAR},
            </if>
            <if test="Upassword != null and Upassword != ''">
                Upassword = #{Upassword, jdbcType=VARCHAR},
            </if>
            <if test="Uemail != null and Uemail != ''">
                Uemail = #{Uemail, jdbcType=VARCHAR},
            </if>
            <if test="Ubirthday != null and Ubirthday != ''">
                Ubirthday = #{Ubirthday, jdbcType=VARCHAR},
            </if>
            <if test="Usex != null and Usex != ''">
                Usex = #{Usex, jdbcType=INTEGER},
            </if>
            <if test="Uhead != null and Uhead != ''">
                Uhead = #{Uhead, jdbcType=VARCHAR},
            </if>
            <if test="Ustatement != null and Ustatement != ''">
                Ustatement = #{Ustatement, jdbcType=VARCHAR},
            </if>
            <if test="Uregdate != null and Uregdate != ''">
            Uregdate = #{Uregdate, jdbcType=TIMESTAMP},
            </if>
            <if test="Ustate != null and Ustate != ''">
                Ustate = #{Ustate, jdbcType=INTEGER},
            </if>
            <if test="Upoint != null and Upoint != ''">
                Upoint = #{Upoint, jdbcType=INTEGER},
            </if>
            <if test="Uissectioner != null and Uissectioner != ''">
                Uissectioner = #{Uissectioner, jdbcType=INTEGER},
            </if>
        </set>
        WHERE Uid = #{Uid, jdbcType=INTEGER}
    </update>

    <!-- 删除用户 -->
    <delete id="delete" parameterType="java.lang.Integer">
    DELETE FROM User
    WHERE Uid = #{userid, jdbcType=INTEGER}
  </delete>

</mapper>