<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hehe.java_web.dao.IUserDao">

    <resultMap id="BaseResultMap" type="com.hehe.java_web.pojo.User">
        <id column="UID" property="UID" jdbcType="INTEGER"/>
        <result column="UName" property="UName" jdbcType="VARCHAR"/>
        <result column="UPassword" property="UPassword" jdbcType="VARCHAR"/>
        <result column="URegDate" property="URegDate" jdbcType="VARCHAR"/>
        <result column="UStatus" property="UStatus" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 查询所有用户可分页 -->
    <select id="selectUserAll" resultMap="BaseResultMap">
      SELECT * FROM User
      ORDER BY UID
      LIMIT #{offset}, #{limit}
  </select>

    <!--查询关注用户可分页-->
    <select id="selectUserCollectAll" resultMap="BaseResultMap">
        SELECT *
        FROM User
        WHERE UID in
        (select UID2
            from UserCollectionUser
            where UID1 = #{user.UID,jdbcType = INTEGER})
        order by UID
        LIMIT #{offset}, #{limit}
    </select>

    <!--查询被关注用户可分页-->
    <select id="selectUserCollectedAll" resultMap="BaseResultMap">
        SELECT *
        FROM User
        WHERE UID in
        (select UID1
            from UserCollectionUser
            where UID2 = #{user.UID,jdbcType = INTEGER})
        order by UID
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 根据用户名字查询用户 -->
    <select id="selectUserByUsername" resultMap="BaseResultMap">
        SELECT *
        FROM User
        WHERE UName = #{username}
    </select>

    <!-- 查询用户数量 -->
    <select id="selectUserCount" resultType="java.lang.Integer" >
    SELECT COUNT(*)
    FROM User
  </select>

    <!-- 查询关注用户数量 -->
    <select id="selectUserCollectCount" parameterType="com.hehe.java_web.pojo.User" resultType="java.lang.Integer" >
    SELECT COUNT(*)
    FROM UserCollectionUser
    where UID1 = #{UID,jdbcType = INTEGER}
  </select>

    <!-- 查询被关注用户数量 -->
    <select id="selectUserCollectedCount" parameterType="com.hehe.java_web.pojo.User" resultType="java.lang.Integer" >
    SELECT COUNT(*)
    FROM UserCollectionUser
    where UID2 = #{UID,jdbcType = INTEGER}
  </select>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="com.hehe.java_web.pojo.User">
    INSERT INTO User
    VALUES (default ,#{UName, jdbcType=VARCHAR}, #{UPassword, jdbcType=VARCHAR},
    #{URegDate, jdbcType=VARCHAR},#{UStatus, jdbcType=INTEGER})
  </insert>

    <!-- 更新用户 -->
    <update id="updateUser" parameterType="com.hehe.java_web.pojo.User">
        UPDATE User
        <set>
            <if test="UPassword != null and UPassword != ''">
                UPassword = #{UPassword, jdbcType=VARCHAR},
            </if>
            <if test="UStatus != null">
                UStatus = #{UStatus, jdbcType=INTEGER},
            </if>
        </set>
        WHERE UName = #{UName, jdbcType=VARCHAR}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="com.hehe.java_web.pojo.User">
    DELETE FROM User
    WHERE UName = #{UName, jdbcType=VARCHAR}
  </delete>

    <!--用户取消关注某个用户-->
    <delete id="deleteUserCollectUser">
    DELETE FROM UserCollectionUser
    WHERE UID1 = #{user1.UID, jdbcType=INTEGER} and UID2 = #{user2.UID,jdbcType=INTEGER}
  </delete>

    <!--用户取消关注某个标签-->
    <delete id="deleteUserCollectLabel">
    DELETE FROM UserCollectionLabel
    WHERE UID = #{user.UID, jdbcType=INTEGER} and LID = #{label.LID,jdbcType=INTEGER}
  </delete>

    <!--用户取消关注某个贴子-->
    <delete id="deleteUserCollectPost">
    DELETE FROM UserCollectionPost
    WHERE UID = #{user.UID, jdbcType=INTEGER} and PID = #{post.PID,jdbcType=INTEGER}
  </delete>

    <!--用户关注某个用户-->
    <insert id="insertUserCollectUser">
    INSERT INTO UserCollectionUser
    VALUES (#{user1.UID, jdbcType=INTEGER},#{user2.UID, jdbcType=INTEGER})
  </insert>

    <!--用户关注某个标签-->
    <insert id="insertUserCollectLabel">
    INSERT INTO UserCollectionLabel
    VALUES (#{user.UID, jdbcType=INTEGER},#{label.LID, jdbcType=INTEGER})
  </insert>

    <!--用户关注某个贴子-->
    <insert id="insertUserCollectPost">
    INSERT INTO UserCollectionPost
    VALUES (#{user.UID, jdbcType=INTEGER},#{post.PID, jdbcType=INTEGER})
  </insert>

    <!--获取关注这个贴子的人-->
    <select id="selectUserCollectPostAll" resultMap="BaseResultMap">
      select *
        from User
        where UID in
        (select UID
            from UserCollectionPost
            where PID = #{post.PID,jdbcType = INTEGER})
        order by UID
        LIMIT #{offset}, #{limit}
  </select>

    <!--获取关注标签的用户-->
    <select id="selectUserCollectLabelAll" resultMap="BaseResultMap">
      SELECT * FROM User
      where UID in (
      SELECT UID
      FROM UserCollectionLabel
      where LID = #{label.LID})
      ORDER BY UID
      LIMIT #{offset}, #{limit}
    </select>

</mapper>